%a#about-me.anchor
%section.about-me
  %h4 About Me
  %p
    I am an application developer living in Denver, CO. I have been building and maintaining production applications since the early 2000's. I currently work on my start-up,
    = succeed "," do
      = link_to('Feedbacks!', 'https://feedbacksapp.com', target: '_blank')
    a customer feedback tool.
  %p
    I practice agile, iterative development. I believe that communication, simplicity, and
    = link_to 'testing & automation', '#testing-and-automation'
    are the pillars of successful application development. I enjoy working with both product and development teams, and excel at bridging the two.
  %p
    I specialize in
    = link_to('Ruby On Rails', 'http://rubyonrails.org', target: '_blank') + ','
    but am proficient in
    = link_to('many languages and frameworks', '#skills') + '.'


