%a#skills.anchor
%section.skills
  %h4 Skills, Languages, Frameworks
  %p
    Full-stack Rails development on *NIX has been my primary focus for the last ten years. I have a deep understanding of the common tooling around high-traffic Ruby applications. It's impossible to list all of the languages/frameworks/libraries that I have used, but below is a sampling of the ones I have worked with the most.

  %p If there is something on your list that is not on mine, please ask. I am always playing with new tooling as it matures and I love talking shop.
  %ul
    %li
      %strong Application languages:
      = link_to('ActionScript', 'http://www.adobe.com/devnet/actionscript.html', target: '_blank') + ','
      = link_to('GO', 'https://golang.org', target: '_blank')
      = link_to('Java', 'https://www.java.com/en/', target: '_blank') + ','
      = link_to('PHP', 'https://secure.php.net', target: '_blank') + ','
      = link_to('Ruby', 'https://www.ruby-lang.org/en/', target: '_blank') + ','
    %li
      %strong Deployment options:
      = link_to('AWS', 'https://aws.amazon.com', target: '_blank') + ','
      = link_to('Digital Ocean', 'https://www.digitalocean.com', target: '_blank')
      = link_to('Heroku', 'https://www.heroku.com', target: '_blank') + ','
    %li
      %strong Continuous integration services:
      = link_to('CircleCi', 'https://circleci.com', target: '_blank') + ','
      = link_to('Jenkins', 'https://jenkins.io', target: '_blank') + ','
      = link_to('Semaphore', 'https://semaphoreci.com', target: '_blank')
      = link_to('Travis', 'https://travis-ci.org', target: '_blank') + ','
    %li
      %strong Ruby testing frameworks:
      = link_to('Capybara', 'http://teamcapybara.github.io/capybara/', target: '_blank') + ','
      = link_to('Cucumber', 'https://cucumber.io', target: '_blank')
      = link_to('MiniTest', 'https://github.com/seattlerb/minitest', target: '_blank') + ','
      = link_to('RSpec', 'http://rspec.info', target: '_blank') + ','
    %li
      %strong Client-side languages, frameworks, &amp; abstractions:
      = link_to('Angular', 'https://angularjs.org', target: '_blank') + ','
      = link_to('Backbone', 'http://backbonejs.org', target: '_blank') + ','
      = link_to('Bootstrap', 'http://getbootstrap.com/css/', target: '_blank') + ','
      = link_to('CoffeeScript', 'http://coffeescript.org', target: '_blank') + ','
      = link_to('CSS', 'http://www.w3schools.com/css/', target: '_blank') + ','
      = link_to('Foundation', 'http://foundation.zurb.com', target: '_blank') + ','
      = link_to('HAML', 'http://haml.info', target: '_blank') + ','
      = link_to('HTML', 'https://en.wikipedia.org/wiki/HTML',) + ','
      = link_to('Javascript', 'https://www.javascript.com', target: '_blank') + ','
      = link_to('JQuery', 'https://jquery.com', target: '_blank') + ','
      = link_to('LESS', 'http://lesscss.org', target: '_blank')
      = link_to('React', 'https://facebook.github.io/react/', target: '_blank') + ','
      = link_to('Redux', 'https://redux.js.org', target: '_blank') + ','
      = link_to('SASS', 'http://sass-lang.com', target: '_blank') + ','
    %li
      %strong Databases:
      = link_to('CouchDB', 'http://couchdb.apache.org', target: '_blank') + ','
      = link_to('MongoDB', 'https://www.mongodb.com', target: '_blank') + ','
      = link_to('MySQL/MariaDB', 'https://mariadb.org', target: '_blank') + ','
      = link_to('Postgres', 'https://www.postgresql.org', target: '_blank') + ','
      = link_to('Sqlite', 'https://www.sqlite.org', target: '_blank')

    %li
      %strong Search engines:
      = link_to('Apache Solr', 'http://lucene.apache.org/solr/', target: '_blank') + ','
      = link_to('Sphinx', 'http://sphinxsearch.com', target: '_blank')

    %li
      %strong Mobile:
      = link_to('Objective-C', 'https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html', target: '_blank') + ','
      = link_to('React Native', 'https://facebook.github.io/react-native/', target: '_blank') + ','
      = link_to('Ruby Motion', 'http://www.rubymotion.com', target: '_blank')
    %li
      %Strong In memory data stores:
      = link_to('Memcached', 'https://en.wikipedia.org/wiki/Memcached', target: '_blank')
      = link_to('Redis', 'https://redis.io', target: '_blank') + ','


