%a#speaking.anchor
%section.speaking
  %h4 Speaking
  %p I have given a few talks over the years. I enjoy speaking on the my experiences building software.
  %ul
    %li
      %h6
        = link_to 'Promises in Ruby @ RubyConf 2014', '//www.youtube.com/watch?v=hDd6DCDoOs8', target: '_blank'
      %p
        %iframe{ src: "//www.youtube.com/embed/hDd6DCDoOs8?enablejsapi=1&origin=https://hiredinshaw.com", width: "200", height: "125", frameborder: "0", allowfullscreen: true }
    %li
      %h6
        = link_to 'Performance talk @ Windy City Rails', 'https://vimeo.com/106759182', target: '_blank'
        %small= link_to'(Live blog vesion)', 'https://chelseatroy.com/2014/09/05/dinshaw-gobhai/', target: '_blank'
      %p
        %iframe{ src: "//player.vimeo.com/video/106759182", width: "200", height: "125", frameborder: "0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }

    %li
      %h6
        = link_to 'Dev to DevOps @ E4E', '//original.livestream.com/e4egroundfloor1/video?clipId=pla_24b1e694-0e4c-4308-a92f-f974b1256ce3', target: '_blank'
        %small= link_to '(Blog version)', '//blog.flatironschool.com/how-did-we-get-into-this-mess/', target: '_blank'
      %p
        %iframe{ src: "//cdn.livestream.com/embed/e4egroundfloor1?layout=4&amp;clip=pla_24b1e694-0e4c-4308-a92f-f974b1256ce3&amp;height=340&amp;width=560&amp;autoplay=false", width: "200", height: "125", frameborder: "0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
