%a#work-experience.anchor
%section.work-experience
  %h4 Work Experience
  %ul.companies
    %li
      %strong
        = succeed "," do
          %a{ href: 'https://www.hotelengine.com/', target: :_blank } Hotel Engine
        Aug 2020 - Present
      %p I joined Hotel Engine as a Principle Engineer. Within three months I was asked to lead our first full-stack development team.
      %p Since I started at Hotel Engine we have grown our engineering team from 25 people to over 60. As we move our culture from a start-up to a mature engineering department I am able to contribute as a manager, a technical lead & mentor, and an individual contributor.

      %ul.responsibilities
        %li
          %strong Software Engineering Manager / Dev Lead, Nov 2020 - Present
          %p Since taking on the role of team lead, I have run a rotating, full-stack team of eight to fifteen Rails and React developers.

          %p As part of our technical leadership I work closely with our our CTO and Directory of Engineering to establish processes and best-practices that support rapid growth while maintaining a healthy development culture.

          %p As a manager I have weekly 1-on-1s with all members of our team. I work individually with everyone to foster professional and personal growth. I report upstream.

          %p As a technical lead I facilitate our daily stand-ups and agile/scrum ceremonies - refinements, weekly goal setting, retros. I encourage transparent, collaborative design and pair (or group) programing.

        %li
          %strong Principle Engineer, Aug 2020 - Nov 2020
          When I started at Hotel Engine I Worked with a team of six Rails developers dedicated to payment processing and our accounting integrations.
    %li
      %strong
        = succeed "," do
          %a{ href: 'https://feedbacksapp.com', target: '_blank' } Feedbacks!
        Personal project since 2015
      %p Since 2015 I have been working on my start-up, Feedbacks!, a tool to help business get feedback from customers. Feedbacks! is a Ruby on Rails application with two React applications making up the front end.
    %li
      %strong
        = succeed "," do
          %a{ href: 'https://www.constantcontact.com', target: '_blank' } Constant Contact
        Advisory Engineer, March 2011 - September 2017
      %p
        As a team-lead at Constant Contact I designed, built and deployed full-stack solutions for our core product suite, prototyped new business ideas
        = succeed '.' do
          = link_to('and shared my knowledge as a mentor of young developers', '#mentoring')
        All projects were built with Ruby on Rails using a variety of front-end technologies.

      %ul.responsibilities
        %li
          %strong Digital Advertising Services, 2015-2017:
          Dev-manager, tech-lead, and developer for Constant Contact's digital advertising tools.
          Our main project was a Ruby on Rails service to enable email marketing customers to place ads on Facebook with a single click.
        %li
          %strong Project NEXT, 2013-2014:
          Developer on a three person team tasked with conceptualizing and prototyping a new, consolidated content creation work flow for Constant Contact's product offerings including: email marketing, events, local deals, coupons, and social posts.
        %li
          %strong Contacts 2.0, 2011-2013:
          One of four developers on the
          = link_to 'Bantam Live', 'https://techcrunch.com/2009/07/10/bantam-live-the-ultimate-social-real-time-crm/', target: '_blank'
          team,
          = link_to('acquired by Constant Contact', 'https://techcrunch.com/2011/02/16/constant-contact-buys-social-crm-startup-bantam-live-for-15-million-in-cash/', target: '_blank') + ','
          tasked with building a full-featured contact management system. Contacts 2.0 deployed to 500K users after two years of development with a starting volume of over 1 billion records.
    %li
      %strong
        = succeed "," do
          %a{ href: 'https://techcrunch.com/2011/02/16/constant-contact-buys-social-crm-startup-bantam-live-for-15-million-in-cash/', target: '_blank' } Bantam Live
        Contractor, April 2009 - March 2011 (Acquired by Constant Contact)
      %p
        Full stack Ruby on Rails application development. We were a team of four developers building an on-line CRM with  social integrations like an internal Twitter client. Bantam was acquired by
        = link_to 'Constant Contact', 'https://www.constantcontact.com', target: '_blank'
        to rebuild their contact management system.
    %li
      %strong
        = succeed "," do
          %a{ href: 'https://behaviordesign.com', target: '_blank' } Behavior Design
        Contractor, 2006 - April 2009
      %p Full-stack development. I worked on multiple high profile client sites. Server-side technologies included Ruby on Rails, PHP (Pear, Drupal), and Java.
    %li
      %strong Self employed - Freelance Contractor, 1999 - 2009
      %ul.responsibilities
        %li
          %strong
            Indirect
            = link_to 'J. D. Edwards', 'http://www.oracle.com/us/products/applications/jd-edwards-world/overview/index.html', target: '_blank'
            contractor:
          I worked with J. D .Edwards contractors to build mobile-friendly web interfaces to the DB2 databases used by the JDE enterprise platform. Rails and Java.
        %li
          %strong Full life-cycle contractor:
          I got my first work through
          = link_to 'Craigslist.org', 'http://newyork.craigslist.org', target: :_blank
          and, then eventually, word of mouth.
          I handled everything from sales, proposal, planning and execution to collections. I did most of the work my self, but also managed a team of developers in India. PHP, Rails, and Java.


