#main_content
  .row
    .col-md-3.hidden-print
      = render 'sidebar'
    .col-md-9
      = render 'print_header'
      = render 'about_me'
      = render 'work_experience'
      = render 'speaking'
      = render 'testing_and_automation'
      = render 'mentoring'
      = render 'skills'
.spacer.hidden-print
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

