#main_content{ data: { spy: :scroll, target: '#main-nav', offset: 0 } }
  .row
    .col-md-3.d-print-none
      = render 'sidebar'
    .col-md-9
      = render 'print_header'
      = render 'about_me'
      = render 'work_experience'
      = render 'speaking'
      = render 'testing_and_automation'
      = render 'mentoring'
      = render 'skills'
.spacer.d-print-none
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

