#main_content
  .row
    .col-sm-9.col-print-12
      = render 'print_header'
      = render 'about_me'
      = render 'work_experience'
      = render 'speaking'
      = render 'testing_and_automation'
      = render 'mentoring'
      = render 'skills'
    .col-sm-3.col-print-pull-3.hidden-print
      = render 'sidebar'
.spacer.hidden-print
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

