#masthead
  %h1 dinshaw design & development
  %ul#contact_info
    %li
      dinshaw c. gobhai   646.239.8325
      %a{:href => ""} info@dinshawdesign.com
    %li 531 west 48th street, #1 new york, ny 10036
    %li gobyrock (AIM) • dinshawg (Skype)

#main_content
  %h2 I am a web-application designer and developer living in NYC.
  %p
    My
    %a{:href => ""} clients
    range from
    %a{:href => ""} large businesses
    to local
    %a{:href => ""} artists
    and
    %a{:href => ""} musicians
    hailing from
    %a{:href => ""} Boston
    to
    = succeed "." do
      %a{:href => ""} Bombay
  %p
    I do
    %a{:href => ""} full-life-cycle
    %a{:href => ""} development
    but I am also available for
    = succeed "," do
      %a{:href => ""} small projects
    = succeed "," do
      %a{:href => ""} consultations
    = succeed "," do
      %a{:href => ""} code review
    %a{:href => ""} redesigns
    and
    = succeed "." do
      %a{:href => ""} good advice
  %p
    I strive to deliver high quality web sites by using current
    %a{:href => ""} best-practices
    and
    %a{:href => ""} cutting-edge
    %a{:href => ""} technology
    when appropriate.
  %p
    My language and framework of choice is
    = succeed "." do
      %a{:href => ""} Ruby On Rails
    = succeed "," do
      %a{:href => ""} PHP
    = succeed "," do
      %a{:href => ""} JAVA
    = succeed "," do
      %a{:href => ""} ASP
    = succeed "," do
      %a{:href => ""} Coldfusion
    %a{:href => ""} FLASH
    and
    = succeed "." do
      %a{:href => ""} Flex
    = succeed "," do
      %a{:href => ""} standards compliant
    %a{:href => ""} semantic markup
    and use
    %a{:href => ""} unobtrusive javascript.
  %p
    I place enormous importance on the
    %a{:href => ""} discovery / planning
    phase of
    = succeed "." do
      %a{:href => ""} my process
    %a{:href => ""} bad-developer syndrome
    to regain control over projects where coding began without sufficient planning.  Sound like you?  Read some
    %a{:href => ""} testimonials
    from my
    = succeed "." do
      %a{:href => ""} clients

