#main_content
  .row
    .col-sm-3.push-sm-9
      = render 'sidebar'
    .col-sm-9.pull-sm-3
      = render 'print_header'
      = render 'about_me'
      = render 'work_experience'
      = render 'speaking'
      = render 'testing_and_automation'
      = render 'mentoring'
      = render 'skills'
.spacer.hidden-print
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

