#main_content
  .row
    .col-md-12
      .d-block.d-print-none
        = render 'sidebar'
      .content
        = render 'print_header'
        = render 'about_me'
        = render 'work_experience'
        = render 'speaking'
        = render 'testing_and_automation'
        = render 'mentoring'
        = render 'skills'
.spacer.d-print-none
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br

