%input.text{:type => "input"}/
%input.btn{:type => "submit", :value => "search"}/
%p
  %a{:href => ""}> .NET
  ,
  = succeed "," do
    %a{:href => ""} artist
  = succeed "," do
    %a{:href => ""} ASP
  = succeed "," do
    %a{:href => ""} bad-developer syndrome
  = succeed "," do
    %a{:href => ""} bombay
  = succeed "," do
    %a{:href => ""} boston
  = succeed "," do
    %a{:href => ""} clients
  = succeed "," do
    %a{:href => ""} Coldfussion
  = succeed "," do
    %a{:href => ""} code-review
  = succeed "," do
    %a{:href => ""} consultations
  = succeed "," do
    %a{:href => ""} cutting-edge
  = succeed "," do
    %a{:href => ""} development
  = succeed "," do
    %a{:href => ""} discovery
  = succeed "," do
    %a{:href => ""} FLASH
  = succeed "," do
    %a{:href => ""} Flex
  = succeed "," do
    %a{:href => ""} full-life-cycle
  = succeed "," do
    %a{:href => ""} JAVA
  = succeed "," do
    %a{:href => ""} Javascript
  = succeed "," do
    %a{:href => ""} large business
  = succeed "," do
    %a{:href => ""} musicians
  = succeed "," do
    %a{:href => ""} my process
  = succeed "," do
    %a{:href => ""} PHP
  %a{:href => ""} planning
  = succeed "," do
    %a{:href => ""} re-designs
  = succeed "," do
    %a{:href => ""} Ruby On Rails
  = succeed "," do
    %a{:href => ""} semantic markup
  = succeed "," do
    %a{:href => ""} small project
  = succeed "," do
    %a{:href => ""} Standards
  = succeed "," do
    %a{:href => ""} technology
  = succeed "," do
    %a{:href => ""}
      unobtrusive javascript
  %a{:href => ""} validation
